{
    "token": "",
    "port": 6767,
    "timeFormat": "YYYY-MM-DD HH:mm:ss",
    "users": [
        {
            "id": "exampleuser",
            "aliases": [],
            "groups": ["examplegroup"],
            "private": false,
            "conversation": "",
            "auth": {
                "active": false,
                "key": ""
            }
        }
    ],
    "groups": [
        {
            "id": "examplegroup",
            "aliases": [],
            "private": false,
            "auth": {
                "active": false,
                "key": ""
            }
        }
    ]
}