{
    "token": "",
    "port": 6767,
    "token": "",
    "logIPs": false,
    "timeFormat": "YYYY-MM-DD HH:mm:ss",
    "adminToken": "",
    "users": [
        {
            "id": "exampleUser",
            "aliases": [],
            "private": false,
            "conversation": "",
            "auth": {
                "active": false,
                "key": ""
            }
        }
    ],
    "groups": [
        {
            "id": "exampleGroup",
            "aliases": [],
            "private": false,
            "users": [
                {
                    "id": "exampleUser",
                    "private": false
                },
            ],
            "auth": {
                "active": false,
                "key": ""
            }
        }
    ],
    "ratelimiter": {
        "enabled": true,
        "max": 10,
        "seconds": 60,
        "bypassTokens": []
    }
}