{
    "token": "",
    "port": 6767,
    "token": "",
    "logIPs": false,
    "timeFormat": "YYYY-MM-DD HH:mm:ss",
    "users": [
        {
            "id": "example",
            "aliases": [],
            "conversation": "",
            "auth": {
                "active": false,
                "key": ""
            }
        }
    ],
    "ratelimiter": {
        "enabled": true,
        "max": 10,
        "seconds": 60
    }
}